/* General Coloring */
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: auto;
    background-color: #4A4D60;
    line-height: 1.6;
}
.container {
    width: 80%;
    margin: auto;
}
.main-info {
    background: #616E7C;
    color: #ffffff;
    padding: 20px;
}
.main-info h1 {
    margin: 0;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* Game Section */
#reset {
    padding: 10px 20px;
    font-size: 16px;
    margin-bottom: 20px;
    cursor: pointer;
}
#board {
    display: grid;
    grid-template-columns: repeat(10, 30px);
    grid-template-rows: repeat(10, 30px);
    gap: 2px;
    justify-content: center;
    margin: 0 auto;
    width: fit-content;
}
.cell {
    width: 30px;
    height: 30px;
    background-color: #5A666B;
    border: 1px solid #142634;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    user-select: none;
}
.cell.revealed {
    background-color: #7E8889;
    cursor: default;
}
.cell.mine {
    background-color: #f44336;
    color: white;
}
.cell.flagged {
    background-color: #ffc107;
    color: red;
}

/* Dark Mode Section */
.dark-mode {
    background-color: #222222;
    color: #13213C;
}
.dark-mode .container {
    color: #3B3758;
}
.dark-mode .main-info {
    background: #3B3758;
    color: #E6EAF3;
}
.dark-mode h1 {
    color: #E6EAF3;
}
.dark-mode p {
    color: #E6EAF3;
}